<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} | Extreme Flappy Bird</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/{% block style %}{% endblock %}.css">
  <style>
    .success {
        background-color: #29BF12;
        color: #fff;
    }
    
    .error {
        background-color: #A54657;
        color: #fff;
    }
  </style>
</head>
<body>
  <h1>Extreme Flappy Bird</h1>
</body>
</html>
